/* Default Styles */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Font Imports */

@font-face {
    font-family: 'FiraSansCondensed';
    src:
        local('Fira Sans Condensed'),
        url(./fonts/FiraSansCondensed-Regular.woff2) format('woff2'),
        url(./fonts/FiraSansCondensed-Regular.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Truculenta';
    src:
        local('Truculenta'),
        url(./fonts/Truculenta72pt-Bold.woff2) format('woff2'),
        url(./fonts/Truculenta72pt-Bold.woff) format('woff');
    font-weight: bold;
}

/* Global Styles and Backgrounds*/

:root {
    --light-purple: #c7c8d9;
    --dark-purple: #1c1f42;
    --white: #F4F4F8;
    --min-content: 250px;
    --max-content: 1300px;
}

body {
    font-family: 'FiraSansCondensed', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--light-purple);
    color: var(--dark-purple);
}

body::after {
    content: '';
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    background: var(--dark-purple);
    transform: skew(0, -8deg);
    transform-origin: top left;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}
/* Typography */

h1, h2, h3 {
    font-family: 'Truculenta', sans-serif;
    line-height: 1;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.25rem;
}

/* Images */

.profile-picture,
.portfolio-work {
    max-width: 450px; 
}

.footer-picture > img {
    min-width: var(--min-content);
    max-width: 640px;
}

img[src$=".svg"] {
    transition: filter 100ms ease-in-out;
}

img[src$=".svg"]:hover {
    filter: brightness(0) saturate(100%) invert(73%) sepia(66%) saturate(497%) hue-rotate(138deg) brightness(87%) contrast(90%);
}

img[src$=".svg"]:active {
    filter: brightness(0) saturate(100%) invert(53%) sepia(20%) saturate(1229%) hue-rotate(137deg) brightness(96%) contrast(97%);
    transition: none;
}

/* Main Sections */

main {
    margin: 0 auto;
    max-width: var(--max-content);
    padding: 4rem 2rem 8rem;
}

footer {
    background-color: var(--white);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px 10px;
}

/* Hero Section */

.hero-section {
    min-width: var(--min-content);
    display: flex;
    align-items: center;
}

.profile-picture {
    flex: 1;    
}

.profile-picture > img {
    border: 0.5rem solid var(--white);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.hero-text {
    background-color: var(--white);
    padding: 3rem 2rem 2rem;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.hero-text > h2 {
    font-size: 2.25rem;
}

.hero-text > p {
    margin-bottom: 1rem;
}

/* Portfolio Section */

.portfolio-title {
    margin: 4rem 0 3rem;
    text-align: center;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
}

.portfolio-work {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: transform 100ms ease-out;
}

.portfolio-work:hover {
    transform: scale(1.025);
}

.portfolio-work:active {
    filter: brightness(95%);
}

.portfolio-info,
.open-icons {
    background-color: var(--white);
}

.portfolio-info > p {
    margin: 0;
}

.portfolio-info {
    padding: 1.5rem 1.5rem 0;
}

.open-icons {
    padding: 0.75rem 1.5rem 1rem;
}

/* Footer Section */

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    min-width: calc(var(--min-content) + 4rem);
    max-width: 1500px;
    margin: 0 auto;
}

.contact-info {
    padding: 2rem;
    flex: 1;
    max-width: 60ch;
}

.mailing-address,
.tel {
    margin-top: 1rem;
}

.email {
    margin-bottom: 2rem;
    text-decoration: underline;
}

/* Icons */

.social-icons,
.open-icons {
    display: flex;
    gap: 4px;
}

.social-icons img {
    width: 40px;
}

.open-icons img,
.mailing-address img {
    width: 32px;
}

.mailing-address img:hover {
    filter: none;
}

.tel,
.email {
    display: flex;
    align-items: center;
    gap: 8px;
}

.email > a:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(20%) saturate(1229%) hue-rotate(137deg) brightness(96%) contrast(97%);
}

/* Media Queries */

@media (max-width: 849px) {

    .profile-picture,
    .footer-picture > img {
        max-width: 300px;
    }

    body::after {
        height: 250px;
    }

    .hero-section {
        flex-direction: column;
    }

    .profile-picture > img {
        border-bottom: 0;
    }

    .portfolio-content {
        grid-template-columns: repeat(auto-fit, minmax(var(--min-content), 1fr));
    }

    .hero-text {
        padding: 2rem 2rem 1.5rem;
    }

    h1, 
    h2 {
        font-size: 3rem;
    }

    .hero-text > h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.125rem
    }
}

@media (max-width: 649px) {
    .footer-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        padding-bottom: 2rem;
    }

    .footer-picture {
        order: -1;
    }

    .footer-picture > img {
        max-width: 450px;
    }
}